


<div class="row">
  <div class="small-4 columns">

    <div class="image-wrapper overlay-fade-in">

      <img src="https://tourneau.scene7.com/is/image/tourneau/DEV9900004?hei=450&wid=300&fmt=png-alpha&resMode=bicub&op_sharpen=1" />

      <div class="image-overlay-content">
        <h2>.overlay-fade-in</h2>
        <p class="price">$99.99</p>
        <a href="#" class="button">Get it</a>
      </div>

    </div>
    <%= link_to 'My Blog', controller: 'articles' %>
  </div>
  <div class="small-4 columns">

    <div class="image-wrapper overlay-slide-in-left">

      <img src="https://tourneau.scene7.com/is/image/tourneau/ZEN0101011?hei=450&wid=300&fmt=png-alpha&resMode=bicub&op_sharpen=1" />

      <div class="image-overlay-content">
        <h2>.overlay-slide-in-left</h2>
        <p class="price">$2319.99</p>
        <a href="#" class="button">Buy Me</a>
      </div>

    </div>

  </div>
  <div class="small-4 columns">

    <div class="image-wrapper overlay-fade-in-new-background">

      <img src="https://tourneau.scene7.com/is/image/tourneau/FRK0100001?hei=450&wid=300&fmt=png-alpha&resMode=bicub&op_sharpen=1" />

      <div class="image-overlay-content">
        <h2>.overlay-fade-in-new-background</h2>
        <p class="price">$189,000</p>
        <a href="#" class="button">Want!</a>
      </div>

    </div>

  </div>

</div>





<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<div class="off-canvas-wrap move-right" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">

      <div class="icon-bar vertical five-up">
        <a class="item">
          <i class="fi-home"></i>
          <label>Home</label>
        </a>
        <a class="item">
          <i class="fi-home"></i>
          <label>Articles</label>
        </a>


        <a class="item">
          <i class="fi-home"></i>
          <label>Info</label>
        </a>
        <a class="item">
          <i class="fi-home"></i>
          <label>Mail</label>
        </a>
        <a class="item">
          <i class="fi-home"></i>
          <label>Like</label>
        </a>
      </div>

    </aside>

    <!-- main content goes here -->
    <header class="row">
      <div class="small-12 columns">
        <h1 class="text-center">Off-canvas Sidebar</h1>
      </div>
    </header>

    <div class="row ad-block">

      <div class="medium-6 medium-push-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>

      <div class="medium-6 medium-pull-6 columns">

        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
        <button>Read On</button>
        <button>Buy Me</button>
      </div>

    </div>

    <div class="row ad-block">

      <div class="medium-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>

      <div class="medium-6 columns">
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
        <button>Read On</button>
        <button>Buy Me</button>
      </div>

    </div>

    <div class="row ad-block">

      <div class="medium-6 medium-push-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>

      <div class="medium-6 medium-pull-6 columns">
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
        <button>Read On</button>
        <button>Buy Me</button>
      </div>

    </div>

    <div class="row ad-block">

      <div class="medium-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>

      <div class="medium-6 columns">
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
        <button>Read On</button>
        <button>Buy Me</button>
      </div>

    </div>


    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>
</body>
